@charset "UTF-8";
	* { margin:0px;  padding:0px;}

	body{ margin: 0px; padding: 0px;}
	
	.wrap {width: 100%; background: white; margin: 0px auto 0px auto;}
	
nav { width:100%	height:70px; background-color:"#D4F4FA";
	  border-bottom: 1px solid black; text-align: right;
	  color: black; 	padding: 0.1px 0px 0px 0px; }
	
nav li {
	display: inline; 
	padding: 25px;
	}
	
top {
	padding:10px;
	width:100%;
	height: 500px;
}




footer {float: bottom; 
		width: 100%; 
		height: 50px;
		padding: 20px 0px 0px 0px; 
		background: black; 
		color: white; 
		clear: both; 
		text-align: center;}
	
#logo {float:left; margin:1px; }
#logo:link {color:black; text-decoration:none;}	
#logo:visited{ color: black; text-decoration: none;}
#logo:hover{ color:black; text-decoration:none; }

#menu1 {float:left;}
#menu2 {float:right;}



a:link{ color:black; text-decoration:none;}
a:visited{ color: black; text-decoration: none;}
a:hover{ color:pink; text-decoration:none; }